*{margin: 0px;padding: 0px;}
.conteiner {
            padding: 0;
            margin:0 auto;}
/*....................................................
HEADER
....................................................*/
.head {
    width: 100%;
    height: 200px; 
    }
#background {width: 100%;
    height:100%;
    background-image:url(../css/images/background-image.jpg);
    background-position:center 40%;
    background-size:cover;}
.logo {border-radius: 142px;
        height: 142px;
        position: relative;
        margin: 48px;
        padding: 30px;
        top: 50px;
        left:420px;}
.mainContent {
    width:700px;
    height: 300px;
}
/*....................................................
MAIN
....................................................*/
.main {
    position: relative;
    width: 100%;
    box-sizing: content-box;
    }
.content {
    padding: 48px 0px 0px;
    position: relative;
    width: 600px;
    top: 40px;
    left:500px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin:6px;    
}

.headline {
    font-size: 26px;
    font-weight: normal;
}
.headlineAbout {
    margin: 36px 0px 18px;
    font-size: 15px;
    font-weight: normal;
    color:#383838; 
}
.text {
    font-size: 15px;
    color:#757575;}
.contact {
    position: relative;
    top: 165px;
    left:505px;
    float: left;
    width: 200px;
    height: 100px;   
}
.photo {border-radius: 60px;
    height: 48px;
    float: left;
    margin: 6px;
    position: relative;
    right:4px;
    top: 15px;
        }
.headlineContact {
    text-align: left;
    position: relative;
    top:-5px;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px; 
    }
.name {
    position: relative;
    top: 25px;
    left: 5px;
}
.FollowUs {
    float: left;
    left: 305px;
    top: 280px;
    position: relative;
    width: 200px;
    height: 90px;
}
.headlineFollow {
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px; 
}
.FollowUslogo {
    position: relative;
    top: 5px;
    padding-right: 6px;
}
.AreaOfFocus {
    width:600px;
    height: 110px;
    position: relative;
    top: 80px;
    left: 500px;
    clear: left;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px;
}
.tag1 {
    width:270px;
    position: relative;
    left: 500px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px;
    text-align: center;
    background-color: #f8f8f8;

}
.tag2 {
    width:160px;
    height: 35px;
    position: relative;
    left: 800px;
    bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px;
    text-align: center;
    background-color: #f8f8f8;
}
.tag3 {
    width:270px;
    height: 35px;
    text-align: center;
    background-color: #f8f8f8;
    position: relative;
    left: 500px;
    bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px;
}
.headlineAreaOfFocus {
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px;
}
/*....................................................
FOOTER
....................................................*/
.footer {
    width: 100%;
    height: 600px; 
    background-color: #f8f8f8;
}
.footercontent {
    position: relative;
    left:500px;
    width:900px;
    height: 500px;
    top:50px;
}
.headlineFooter {
    float:left;
}
.search {
    
    position: relative;
    left: 470px;
    top: 3px;
}
#search-block-form{
	width:340px;
	height:25px;
	border-radius:3px;
    border:#c9c9c9 solid 1px;
    background-color: #fff;
	}
#search-block-form input{
	padding:0;
	margin:0;
	display:block;
	border:none;
	outline:none;
	background:none;
	width:100%;
    height:100%;
    position: relative;
    bottom:28px;
	}
#search-block-form .form-actions{
	width:28px;
	height:28px;
	float:left;
    background:url(images/search.svg) 5px 2px no-repeat;
    position: relative;
    bottom:28px;
	}
#search-block-form .form-actions input:hover{
	cursor:pointer;
	}
#search-block-form .form-actions input{
	overflow:hidden;
	text-indent:-9999px;
	}
#search-block-form .form-item{
	width:300px;
	padding:0px 5px;
	float:right;
	height:28px;
    }
.form-submit{
    position: relative;
    top:1px;
}
#search-block-form .form-item input{
	font:12px Arial, Helvetica, sans-serif;
    color:#757575;
    opacity: 0.6;
	height:auto !important;
	padding:6px 0;
	}
.placeholder{color:#cbcbcb !important;}
.headlineFooter {
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 26px;
    position: relative;
    left:15px;
}
.footerBlock {
    float: left;
    width:250px;
    height: 360px;
    margin: 12px;
    background-color: #fff;
}
.itemLogo {
    float:left;
    width: 80px;
    padding: 15px;
}
.headlineFooterBox {
    padding-top: 12px;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#383838; 
}
.footerBoxText {
    clear: left;
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:#383838;
    font-size: 15px; 
}
.BoxBotton {
    color: #009DF2; 
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
	padding: 6px; 
	border-radius: 5px;
    border: 2px solid #009DF2;
    width: 70px;
    height: 25px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top:10px;
    left:8px;
}
.BoxBotton1 {
    color: #009DF2; 
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
	padding: 6px; 
	border-radius: 5px;
    border: 2px solid #009DF2;
    width: 70px;
    height: 25px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top:10px;
    left:8px;
}
.BoxBotton2 {
    color: #009DF2; 
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
	padding: 6px; 
	border-radius: 5px;
    border: 2px solid #009DF2;
    width: 50px;
    height: 27px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top:10px;
    left:8px;
}
.BoxBotton:hover { 
    cursor:pointer; 
}
.BoxBotton2:hover { 
    cursor:pointer; 
}
.headlineFooterBox2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color:#383838;
    padding-left: 85px;
    padding-bottom: 6px;
}
.headlineFooterBox3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color:#383838;
    padding-left: 85px;
    padding-bottom: 6px;
}
.footerBoxText1 {
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#757575;
    position: relative;
    top:102px;
    padding-right:18px;
}
.footerBoxText2 {
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#757575;
    position: relative;
    top:35px;
    padding-right:18px;
}
.DetailsBotton {
    color: #FFF; 
    background:#FFA500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
	padding: 6px; 
	border-radius: 5px;
    border: 2px solid #FFA500;
    width: 220px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    position: relative;
    left: 17px;
    top: 40px;
}
.DetailsBotton1 {
    color: #FFF; 
    background:#FFA500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
	padding: 6px; 
	border-radius: 5px;
    border: 2px solid #FFA500;
    width: 220px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    position: relative;
    left: 17px;
    top: 106px;
}
.DetailsBotton:hover {
    cursor:pointer;
}
.DetailsBotton1:hover {
    cursor:pointer;
}
.subtitleFooterBox {
    font-family: Arial, Helvetica, sans-serif; 
    color:#757575;
}
.subtitleFooterBox2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left:12px;
}
/*....................................................
MEDIA
....................................................*/
@media (max-width: 984px) {

    .conteiner{
        width:100%;
    }
    .main {
        height: 1050px;
    }

    .logo {left:0px;}
    .content{
        width:95%;
        height: 800px;
        left:0px;
        margin: 6px 0px 6px 12px;
        

    }
    .text {
        width:100%;
    }
    .AreaOfFocus {
        width:100%;
    }
    .contact {
        position: relative;
        left:12px;
        right: 0px;
        top: 160px;
        bottom: 12px;
        width:100%;
    }
    .FollowUs {
        position: relative;
        left:12px;
        right: 0px;
        top: 120px;
        bottom: 12px;
        width:100%;
    }
    .AreaOfFocus {
        width: 100%;
        height: 200px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    .tag1 {

        position: relative;
        left: 0px;
        top:-650px;

    }
    .tag2 {

        position: relative;
        left: 0px;
        right: 10px;
        top:-600px;
    }
    .tag3 {

        position: relative;
        left: 0px;
        top:-675px;
    }
    .footer {
        width: 100%;
        height: 600px;
        box-sizing: border-box;
    }
    .footercontent {
        width: 100%;
        height: 500px;
        left:0px;
        top: -20px;
    }
    .headlineFooter {
        visibility: hidden;
        display: none;
    }
 
    .AreaOfFocus {
        width: 100%;
        position: relative;
        left: 10px;
        top:-480px;
    }
    .contact {
        position: relative;
        top: -105px;
        left:10px;
        float: left;
        width: 100%;
        height: 100px;   
    }   
    .search {
    
        position: relative;
        left: 10px;
        top: 390px;
    }
    #search-block-form{
        width:95%;
        height:25px;
        border-radius:3px;
        background-color: #fff;
        position: relative;
        top:-400px;
        }
    #search-block-form .form-actions{
        width:28px;
        height:28px;
        float:none;
        background:url(images/search.svg) 5px 2px no-repeat;
        position: relative;
        top:-1px;
        bottom:28px;
        }
    .form-submit{
        position: relative;
        top:415px;
        left: -225px;
    }
    #search-block-form .form-item input{
        font:12px Arial, Helvetica, sans-serif;
        color:#757575;
        opacity: 0.6;
        height:auto !important;
        padding:0px;
        position: relative;
        top: 425px;
        }
    .form-item { 
        position: relative;
        bottom: 420px;
    }
    .form-actions {
        position: relative;
        top: -448px;
    }
    .FollowUs {
        top: -70px;
    }
    .DetailsBotton  {
        visibility: hidden;
        display: none;
    }
    .DetailsBotton1 {
        visibility: hidden;
        display: none;
    }
    .footerBlock {
        margin: 12px;
        padding: 0;
        width: 90%;
        height: 170px;
    }
    .BoxBotton {
        position: relative;
        top: -30px;
        left:15px;
    }
    .BoxBotton1 {
        position: relative;
        top: -85px;
        left:8px;
        left:15px;
    }
    .BoxBotton2 {
        position: relative;
        top: -85px;
        left:25px;
    }
    .subtitleFooterBox2 {
        visibility: hidden;
        display: none;
    }
    .hidden {visibility: hidden;
        display: none;
    }
    
    .headlineFooterBox br {display: none;
    } 
    
    .headlineFooterBox2 {
        position: relative;
        top:-125px;
    }
    .headlineFooterBox3 {
        position: relative;
        top:-135px;
    }
    .footerBoxText {
        position: relative;
        left: -9999px;
    }
    .subtitleFooterBox {position: relative;
        left: 9999px;
    }
}